<!DOCTYPE HTML>
<!--
	Eventually by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>{{ config.site_name }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="{{ base_url }}/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ base_url }}/css/style.css" />
    <link href="{{ base_url }}/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ base_url }}/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ base_url }}/css/ie9.css" /><![endif]-->
</head>

<body>

    <!-- Header -->
    <header id="header">
        <h1><a href="{{ site_url }}">{{ config.site_name }}</a></h1>
        <h2>{{ config.site_description }}</h2>
        <p>{{ config.extra.long_description }}</p>
    </header>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            {% for key, value in config.extra.social.items() %}
            <li><a href="{{ value }}" class="icon fa-{{ key | lower }}"><span class="label">{{ key | capitalize }}</span></a></li>
            {% endfor %}
        </ul>
        <ul class="copyright">
            <li><a href="https://creativecommons.org"  class="icon fa-creative-commons"></a> <a href="{{ site_url }}">{{ config.site_name }}</a></li>
            <li>Credits: <a href="https://lramage.gitlab.io">Lucas Ramage</a> + <a href="http://html5up.net">HTML5 UP</a> + <a href="https://www.flickr.com/photos/itlstock">Industrial Traffic</a></li>
        </ul>
    </footer>

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="{{ base_url }}/js/ie/respond.min.js"></script><![endif]-->
    <script src="{{ base_url }}/js/script.js"></script>

</body>
